<h4>Bookwas successfully created.</h4>


<h4> title: <%= blog.title %> </h4>
<h4> body:  <%= blog.body %></h4>
<%= link_to "edit", edit_blog_path(@blog) %>
<%= link_to "back", new_blog_path(@blog) %>
